form {
	position: fixed;
	height: 500px;
	width: 400px;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
    left: 35%;
    top: 20%;
	background-color: goldenrod;
	padding-top: 2rem;

    

}



.popup.open {
	--opacity: 1;
	pointer-events: all;
}

label {
    margin-inline-start: 2rem;
}

input {
	 margin-inline-start: 2rem;
	 padding-top: 1rem;
	 padding-left: 1rem;
	 padding-right: 1rem;
}



button {
    width: 50px;
   
}

.button-sub {
   display: flex;
   margin: 2rem;
   justify-content: space-between;
}

article {
    width: 50%;
    height: 30%;
    border: greenyellow solid 5px;
    background-color: rgb(9, 85, 99);
	color: white;
	position: fixed;
	transition: all 0.25s;
	top: 0;
	display: grid;
	justify-content: center;
	align-items: center;
    left: 35%;
    top: 20%;
	
}

.deleteparagraph {
    text-align: center;
    width: 100%;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    margin-inline-end: 1rem;
    margin-inline-start: 1rem;
}

.confirm_buttom {
    padding: 0.5rem;
    padding-right: 2rem;
    padding-left: 2rem;
    background-color: rgb(138, 6, 138);
    color: white;

}

.container__buttom {
    justify-content: space-between;
    display: flex;
    margin: 1rem;
}